body{
  font-family: "Poetsen One", sans-serif;
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  font-weight: 500;
}

select {
  border: none;
  appearance: none;
  border-bottom: 1px black solid;
  margin: 5px;
  width: 20rem;
  padding: 10px 20px 10px 10px;
  color: #000;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

option {
  color: black;
}


button {
  border: none;
  border: 1px #000 solid;
  color: black;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  border-radius: 8px;
}

input {
  padding: 0.6em 1.2em;
  outline: 0;
  border: none;
  border-bottom: 1px black solid;
  font-weight: 400;
  font-size: 18px;
  appearance: none;
  width: 20rem;
  cursor: pointer;
  transition: color 300ms;
  margin: 5px;
  text-align: center;
}