.navbar {
  font-family: "Poetsen One", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: #000 solid 2px;
}

a {
  text-decoration: none;
  color: #000;
  height: 100%;
  text-align: center;
  line-height: 50px; 
  font-size: 22px;
}


a:hover {
  color: transparent;
  text-shadow: 0 0 1px #000;
  border-color: rgb(52, 52, 52);
  font-weight: 600;
}