#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color);
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: var(--text-color);
  border-radius: 0.25em;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: color 300ms;
  border-radius: 20px;
  border: 2px solid white;
}

option {
  color: black;
  background-color: var(--background-color);
}

select:hover {
  color: red;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: var(--text-color);
}
input {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: var(--text-color);
  border-radius: 0.25em;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: color 300ms;
  border-radius: 20px;
  border: 2px solid white;
}

input:hover {
  color: red;
}
