:root {
  --main-font-family: 'Poetsen One', sans-serif;
  --gradient-start-color: #4e54c8;
  --gradient-end-color: #8f94fb;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --border-color: rgba(255, 255, 255, 0.2);
  --image-width: 200px;
  --image-height: 200px;
}